node_modules
mochawesome-report
cypress/videos
cypress/reports
cypress/reports_html
cypress/screenshots
cypress/results
cypress/downloads
package-lock.json
.scannerwork
.eslintrc.json
.prettierrc.js
cypress/._downloads
._.gitignore
.env.stg
.env.dev
.env.prod
.env
.DS_Store
cypress/.DS_Store
cypress/e2e/.DS_Store
cypress/support/.DS_Store